/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgb(149, 97, 200);
;
$secondary-background: radial-gradient(circle, rgba(234, 147, 249, 0.979) 0%, rgb(252, 70, 167) 100%);
$tertiary-background:tan;

$main-radius:5px;
$main-padding:5px;
$font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$grand-hotel: 'Grand Hotel', cursive;
* {
//font-family: $font-family;  
}


body {
  background: $primary-background;
  // background: $tertiary-background;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1.1fr 1.1fr 1.1fr;
  grid-template-rows: 0.6fr 1.5fr 1.2fr 0.4fr;
  grid-template-areas: 
  "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "sidebar footer footer footer";
  gap: 0.4rem;
}

nav {
  grid-area: nav;
  background: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: $main-radius;
  padding-top: $main-padding;
}

main {
  color: white;
  grid-area: main;
  background: $secondary-background;
  border-radius: $main-radius;
  padding-top: $main-padding;
  img {
    width: 100%;
  }
}

#sidebar {
  grid-area: sidebar;
 background: #FFCB05;
 border-radius: $main-radius;
  padding-top: $main-padding;
  overflow: scroll;
}

#content1 {
 grid-area: content1;
 background: whitesmoke;
 border-radius: $main-radius;
  padding-top: $main-padding;
}

#content2 {
  grid-area: content2;
  background: whitesmoke;
  border-radius: $main-radius;
  padding-top: $main-padding;
}

#content3 {
  grid-area: content3;
  background: whitesmoke;
  border-radius: $main-radius;
  padding-top: $main-padding;
}
footer {
  grid-area: footer;
  background: rgb(250, 89, 143);
  border-radius: $main-radius;
  padding-top: $main-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#flag{
  width: 10%;
}

.hotel-title {
  p:first-of-type {
    font-family: $grand-hotel;
    font-size: 2rem;
    font-weight: 900;
  }
  color: rgb(194, 166, 27);
}

.hide {
  display: none;
}
.sidebar {
  margin: 0;
  padding:  0;
  font-family: sans-serif;
  background: $primary-background;
}

.box {
  width: inherit;
  padding: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%,);
  background:rgba(234, 147, 249, 0.979);
  text-align: center;

      h1 {
      color: $secondary-background;
      text-transform: uppercase;
      text-decoration:underline; 
      font-weight: 500; 
      }
    input[type = "text"], input[type = "password"] {
      border: 0;
      background: none;
      display: block;
      margin: 20 px auto;
      text-align: center;
      border: 2px solid #3498db;
      padding: 14px 10px;
      width: 5rem;
      outline: none;
      color: white;
      border-radius: 12px;
        &:focus {
          width: 6.5rem;
          border-color: #2ecc71;
        }
    }
    input[type = "submit"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      color: $secondary-background;
      border-radius: 24px;
      transition: 0.2s;
      cursor: pointer;
       &:hover {
         background-color: #2ecc71;
       }
    }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
  align-content: center;
  width: auto;
}

.grid-item {
  border-radius: 15px;
  background-color: gold ;
  max-width: 25rem;
  margin-bottom: 10vh;
  height: auto;
  border: 5px solid #212121;
  padding: 7px;
  transform: all 1s ease-in-out;
  transition: 1s;
   &:hover {
    box-shadow: 0px 16px 10px 0px #0000003d;
  transform: scale(1.025);
  transition: 1s;
   }
}

.room-image {
  width: 80%;
  opacity: 0.8;
}

.room-number,
.room-type,
.bidet-status,
.bed-size,
.room-cost
 {
  font-weight: bold;
  color: black;
 }

.room-number,  .bidet-status, .bed-size {
  padding: .25rem;
  border-radius: 2rem;
  padding-bottom: 10px;
  background-color: #FFEB3B;
}

.room-type {
  padding: .25rem;
  font-size: 1.5rem;
  background-color: #FFEB3B;
  border-radius: 8rem;
}

.room-cost {
  padding: .25rem;
  font-weight: bolder;
  font-size: 2.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1.5rem;
  background: $secondary-background;
  color: black;
}

@media (max-width:550px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: 
    "nav"
    "sidebar"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";
  }
  footer {
  flex-direction: column;
  }
}
