/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(251, 63, 144, 0.701) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: $primary-background;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: 
  "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "sidebar footer footer footer";
}

nav {
  grid-area: nav;
  background: pink;
}

main {
  grid-area: main;
  background: rgb(234, 199, 28);
}

#sidebar {
  grid-area: sidebar;
 background: rgb(156, 87, 225);
}

#content1 {
 grid-area: content1;
 background: white;
}

#content2 {
  grid-area: content2;
  background: whitesmoke;
}

#content3 {
  grid-area: content3;
  background: wheat;
}
footer {
  grid-area: footer;
  background: palevioletred;
}
